<!DOCTYPE html>
{% extends "main_cat_item_list.html" %}
{% block items %}

<h2 class="item-head">Edit item</h2>

<form class="form" role=form method=post enctype=multipart/form-data>
    <div class="form-group">
        <label for="name" class="control-label">Item name</label>
        <input name="name" type="text" class="form-control" placeholder="Item name" value="{{ item.name }}" required>
    </div>
    <div class="form-group">
        <label for="description" class="control-label">Item description</label>
        <textarea name="description" class="form-control" rows="5" placeholder="Item description" required>{{ item.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="category-id" class="control-label">Category</label>
        <select name="category-id" class="form-control" required>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == item.category %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="image" class="control-label">Image</label>
        {% if item.image %}
        <div class="item-image">
            <img class="img img-responsive" src="{{ url_for('static', filename="uploads/images/%s" % item.image) }}" alt="{{ item.name}}">
        </div>
        {% endif %}
        <input class="upload" type=file name=file>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}