<!DOCTYPE html>
{# Main content area. Categories left, list of items right #}
{% extends "index.html" %}

{% block main_area %}
<div class="row">
    <div class="col-sm-3 categories">
        <h2 class="cat-head">Categories</h2>
        <ul class="cat-menu">
            <li class="cat-entry">
                <a href="{{ url_for('index') }}">All</a>
            </li>

            {% for category in categories %}
            <li class="cat-entry">
                <a href="{{ url_for('category', category_name=category.name, category_id=category.id)  }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div >

    <div class="col-sm-9">
        <div class="items">
            {% block items %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}